.section {
    color: $white;
    max-width: toRem(900);
    margin: 0 auto;
    &:not(:first-of-type) {
        padding: toRem(32) 0;
    }

    &.hero {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        * {
            margin-top: toRem(24);
        }

        h1 {
            font-size: $font-xlg;
        }

        h2 {
            font-weight: 400;
            color: $tint;
        }
    }

    h2 {
        font-size: $font-xlg;
    }

    .subtitle {
        margin-top: toRem(16);
    }

    h3 {
        margin: toRem(16) 0;
    }

    .skills {
        display: flex;
        flex-direction: column;
        li {
            &:not(:last-child){
                margin-bottom: toRem(16);
            }
            h4 {
                color: $tint;
                margin-bottom: toRem(16);
            }

            h4:hover {
                color: $tint-hover;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: toRem(16) 0;
        
        :not(:last-child) {
            margin-bottom: toRem(16);
        }

        > input[type="text"], textarea {
            height: toRem(56);
            background-color: $background;
            color: $white;
            padding-left: toRem(16);
        }

        textarea {
            height: toRem(200);
            padding-top: toRem(16);
            resize: none;
        }

        input[type="submit"] {
            border: solid 1px $tint;
            height: toRem(56);
            width: toRem(128);
            margin: 0 auto;
            text-align: center;
            color: $tint;
        }

        input[type="submit"]:hover {
            color: $tint-hover;
            border: solid 1px $tint-hover;
        }
    }
    
    &__experiences {
        .expriences__wrapper {
            .tab {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: toRem(48);
                max-width: 100vw;
                overflow: scroll;
                margin-top: toRem(16);
                position: relative;
                &::-webkit-scrollbar {
                    width: 0px;
                    height: 0px;
                    background: transparent;
                }
                &__item {
                    padding: toRem(8) toRem(16);
                    height: 100%;
                    width: 100%;
                    white-space: nowrap;
                    transition: all 300ms ease-in-out;
                    cursor: pointer;
                    &__active {
                        background-color: $light-background;
                        border-bottom: solid toRem(4) $comment;
                    }
                }
            }
    
            .experience {
                display: flex;
                flex-direction: column;
    
                :not(:last-child) {
                    margin-bottom: toRem(16);
                }
    
                h3 {
                    color: $white;
                }
    
                .period {
                    color: $comment;
                }
            }
        }
    }

    &__works {
        > p, div{
            margin-top: toRem(16);
        }

        .works__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: toRem(16);
            margin-top: toRem(86);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            .project_snapshot {
                width: 100%;
                object-fit: cover;
                border-radius: 5%;
                transform: translateY(-40%);
            }

            &__content_wrapper {
                margin-top: -25%;
                .project_title {
                    color: $tint;
                }

                .project_description {
                    line-height: 1.5;
                    margin-bottom: toRem(16);
                }
    
                .tech_stack{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    color: $tint;
                    :not(:last-child) {
                        margin-right: toRem(8);
                        margin-bottom: toRem(4);
                    }
                    :not(:last-child)::after {
                        content: "â—";
                        padding-left: toRem(4);
                    }
                }
            }
        }

    }

    @include breakpoint-up(medium){
        max-width: 74%; 
        &:not(:first-of-type) {
            padding: toRem(40) 0;
        }

        &.hero {
            min-height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            * {
                margin-top: toRem(24);
            }
    
            h1 {
                font-size: $font-xxxlg;
            }

            h2 {
                font-weight: 400;
                color: $tint;
                font-size: $font-lg;
            }
        }

        h2 {
            font-size: $font-xxlg;
        }

        .subtitle {
            margin-top: toRem(16);
        }

        .skills {
            flex-direction: row;
            flex-wrap: wrap;
            li {
                width: 50%;
                &:not(:last-child){
                    margin-bottom: toRem(16);
                }
                h4 {
                    color: $tint;
                    margin-bottom: toRem(16);
                }
            }
        }

        form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: toRem(16) 0;
            
            :not(:last-child) {
                margin-bottom: toRem(16);
            }
    
            > input {
                &#name{
                    margin-right: 2%;
                }
                &#name, &#email {
                    width: 49%;
                } 
                
                &#subject {
                    width: 100%;
                } 
            }
    
            textarea {
                width: 100%;
            }
        }

        &__experiences {
            .expriences__wrapper {
                display: flex;
                flex-direction: row;
                min-height: toRem(320);
                .tab {
                    width: auto;
                    height: auto;
                    flex-direction: column;
                    flex-shrink: 0;
                    align-items: flex-start;
                    &__item {
                        padding: toRem(16) toRem(16);
                        border-left: solid toRem(4) $background;
                        height: toRem(56);
                        &__active {
                            background-color: $light-background;
                            border-left: solid toRem(4) $comment;
                            border-bottom: none;
                        }
                    }
                }
        
                .experience {
                    display: flex;
                    flex-direction: column;
                    margin-left: toRem(16);
                    :not(:last-child) {
                        margin-bottom: toRem(16);
                    }
        
                    h3 {
                        color: $white;
                    }
        
                    .period {
                        color: $comment;
                    }
                }
            }
        }

        &__works {    
            .works__item {
                display: flex;
                flex-direction: row;
                padding: toRem(32) toRem(16);
                margin-top: toRem(24);

                .project_snapshot {
                    width: 50%;
                    border-radius: 5%;
                    transform: translateX(-10%);
                }
    
                &__content_wrapper {
                    width: 80%;
                    margin-top: 0;
                    .project_description {
                        line-height: 1.5;
                        margin-bottom: toRem(16);
                    }
                }
            }
    
        }
    
    }
}