// colors
$primary : #282A36;
$tint : #85DEF2;
$tint-hover : #F977C2;
$white : #FBFBFB;
$background : #444444;
$comment : #596794;

// fonts
$font-sm : toRem(14);
$font-md : toRem(18);
$font-lg : toRem(24);
$font-xlg : toRem(32);
$font-xxlg : toRem(40);
$font-xxxlg : toRem(80);
